@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
.font1 {
  font-family: "Inter", sans-serif;
}
.font2 {
  font-family: "Lobster", cursive;
}
.font1 > span {
  color: #fe5f55;
}
.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex__center__vert {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex__center__spacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loading {
  height: 100vh;
  width: 100vw;
  background: #fff;
}
.loader {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 5px solid #ffa8a2;
  border-bottom: 5px solid #fe5f55;
  animation-name: rotator;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
